.aboutBox{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    margin-left:10%;
}
.heading1{
    font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
