.headingSection{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.heading1{
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: var(--dark-grey-blue);
}
.heading2{
    width: 568px;
    height: 42px;
    margin-top:0px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-grey-blue);
}